* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.title {
    color: #fff;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #141414;
}

.scroll {
    transition: .5s;
    background-color: #272727;
}

nav {
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

nav ul li {
    text-align: center;
}

nav ul li a {
    transition: 0.4s;
    position: relative;
}

nav ul li a:hover {
    color: #c58c05;
}

nav ul li a:after {
    content: '';
    width: 0%;
    height: 2px;
    background: #c58c05;

    position: absolute;
    left: 0;
    bottom: -0.5rem;

    transition: width 0.2s;
}

nav ul li a:hover::after {
    width: 100%;
}

nav .menu {
    opacity: 0;
    visibility: hidden;
}

/* mostrar menu */

nav.show .menu {
    opacity: 1;
    visibility: visible;

    background-color: #141414;
    height: 100vh;
    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;
}

nav.show .menu {
    display: grid;
    place-items: center;
}

.toggle {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

nav .icon-close {
    visibility: hidden;
    opacity: 0;

    position: absolute;
    right: 1.5rem;
}

nav.show .icon-close {
    visibility: visible;
    opacity: 1;
}

nav.show ul {
    display: grid;
    gap: 2rem;
}

nav.show .title {
    font-size: 1.2rem;
}

.logo {
    width: 5rem;
    height: 5rem;
}

.img-logo{
    width: 100%;
}


/* @media(min-width: 800px){
    nav .menu {
        opacity: 1;
        visibility: visible;
    }
} */