#history {
    margin: 7rem 1rem 0 1rem;
}

#history h1 {
    text-align: center;
    font-size: 2rem;
}

#history .description {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 2.5rem;
}

.description p {
    color: #5b5b5b;
}

.description p a {
    color: #5b5b5b;
}

.description img {
    width: 30rem;
    filter: drop-shadow(5px 5px 5px #8103af);
    border-radius: 8px;
}

@media(max-width: 800px) {
    #history .description {
        flex-direction: column;
    }

    #history h1 {
        font-size: 1.5rem
    }

    .description img {
        display: none;
    }

    .description p {
        margin-top: 1rem;
        font-size: 14px;
    }
}